In [1]:
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
import requests
from config import username, password

### Extract CSVs into DataFrames
- Source : https://www.kaggle.com/mariotormo/complete-pokemon-dataset-updated-090420

In [2]:
pokedex_file = "pokedex.csv"
pokedex_df = pd.read_csv(pokedex_file)
pokedex_df.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

### Transform Pokedex DataFrame

In [15]:
# Create a filtered dataframe from specific columns
pokedex_cols = ["name", "generation", "type_1", "hp", "attack", "defense", "speed"]
pokedex_transformed= pokedex_df[pokedex_cols].copy()

pokedex_transformed = pokedex_transformed.rename(columns={"name": "Pokemon", "type_1": "type"})

# Set index
#pokedex_transformed.set_index("Pokemon", inplace=True)

pokedex_transformed.head()

         Pokemon  generation   type    hp  attack  defense  speed
0      Bulbasaur           1  Grass  45.0    49.0     49.0   45.0
1        Ivysaur           1  Grass  60.0    62.0     63.0   60.0
2       Venusaur           1  Grass  80.0    82.0     83.0   80.0
3  Mega Venusaur           1  Grass  80.0   100.0    123.0   80.0
4     Charmander           1   Fire  39.0    52.0     43.0   65.0

### Extract Pokemon votes and rank 
- Source : https://pastebin.com/LvhaTx7w / https://www.reddit.com/r/pokemon/comments/c0w4s0/favourite_pok%C3%A9mon_survey_results/

In [4]:
rank_file = "rank.txt"
rank_df = pd.read_csv(rank_file)
# Set index
#rank_df.set_index("Pokemon", inplace=True)
rank_df.head()

     Pokemon  Number of votes  Rank
0  Charizard             1107     1
1     Gengar             1056     2
2   Arcanine              923     3
3  Bulbasaur              710     4
4   Blaziken              613     5

In [16]:
Pokemon_df = pd.read_html('https://shop.tcgplayer.com/price-guide/pokemon/base-set')[0]
Pokemon_df

          PRODUCT     Rarity  Number Market Price Listed Median Unnamed: 5
0            Abra     Common      43        $0.58         $0.59       View
1        Alakazam  Holo Rare       1       $29.44             —       View
2        Arcanine   Uncommon      23        $2.94         $3.95       View
3        Beedrill       Rare      17        $2.27         $2.43       View
4            Bill     Common      91        $0.40         $0.35       View
..            ...        ...     ...          ...           ...        ...
96         Vulpix     Common      68        $0.56         $0.88       View
97      Wartortle   Uncommon      42        $4.73         $5.00       View
98   Water Energy     Common     102        $0.49         $0.28       View
99         Weedle     Common      69        $0.48         $0.45       View
100        Zapdos  Holo Rare      16       $31.36             —       View

[101 rows x 6 columns]

### Create schema/tables in pgAdmin4

In [5]:
# -- Create Two Tables
# CREATE TABLE stats1 (
#   "Pokemon" TEXT PRIMARY KEY,
# 	"generation" INT,
# 	"type" text,
# 	"hp" INT,
# 	"attack" INT,
# 	"defense" INT,
# 	"speed" INT
# );

# CREATE TABLE popular (
#   "Pokemon" TEXT PRIMARY KEY,
# 	"NUmber of votes" INT,
# 	"Rank" INT
# );

### Create Database connection

In [6]:
# connect to database
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Pokemon') 
connection = engine.connect()

In [7]:
engine.table_names()

['popular', 'stats1']

### Load DataFrames into database

In [ ]:
rank_df.to_sql(name='popular', con=engine, if_exists='append', index=True)

In [ ]:
pokedex_transformed.to_sql(name='stats1', con=engine, if_exists='append', index=True)