In [1]:
import pandas as pd
from sqlalchemy import create_engine
from bs4 import BeautifulSoup
import requests
from config import username, password

### Extract CSVs into DataFrames
- Source : https://www.kaggle.com/mariotormo/complete-pokemon-dataset-updated-090420

In [2]:
pokedex_file = "pokedex.csv"
pokedex_df = pd.read_csv(pokedex_file)
pokedex_df.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,is_sub_legendary,is_legendary,is_mythical,species,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,0,0,0,Seed Pokémon,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,0,0,0,Lizard Pokémon,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

### Transform Pokedex DataFrame

In [3]:
# Create a filtered dataframe from specific columns
pokedex_cols = ["name", "generation", "type_1", "hp", "attack", "defense", "speed"]
pokedex_transformed= pokedex_df[pokedex_cols].copy()

pokedex_transformed = pokedex_transformed.rename(columns={"name": "Pokemon", "type_1": "type"})

# Set index
#pokedex_transformed.set_index("Pokemon", inplace=True)

pokedex_transformed.head()

         Pokemon  generation   type    hp  attack  defense  speed
0      Bulbasaur           1  Grass  45.0    49.0     49.0   45.0
1        Ivysaur           1  Grass  60.0    62.0     63.0   60.0
2       Venusaur           1  Grass  80.0    82.0     83.0   80.0
3  Mega Venusaur           1  Grass  80.0   100.0    123.0   80.0
4     Charmander           1   Fire  39.0    52.0     43.0   65.0

### Extract Pokemon votes and rank 
- Source : https://pastebin.com/LvhaTx7w / https://www.reddit.com/r/pokemon/comments/c0w4s0/favourite_pok%C3%A9mon_survey_results/

In [4]:
rank_file = "rank.txt"
rank_df = pd.read_csv(rank_file)
# Set index
#rank_df.set_index("Pokemon", inplace=True)
rank_df.head()

     Pokemon  Number of votes  Rank
0  Charizard             1107     1
1     Gengar             1056     2
2   Arcanine              923     3
3  Bulbasaur              710     4
4   Blaziken              613     5

### Transform Popularity Rank

In [5]:
rank_df = rank_df.rename(columns={"Rank": "Popularity Ranking"})
rank_df

       Pokemon  Number of votes  Popularity Ranking
0    Charizard             1107                   1
1       Gengar             1056                   2
2     Arcanine              923                   3
3    Bulbasaur              710                   4
4     Blaziken              613                   5
..         ...              ...                 ...
804    Cosmoem                1                 798
805    Silcoon                0                 806
806    Gothita                0                 806
807  Eelektrik                0                 806
808    Yungoos                0                 806

[809 rows x 3 columns]

### Transform pokedex and rank

In [6]:
# Combine the data into a single dataset
poke_merge1 = pd.merge(pokedex_transformed, rank_df, on = "Pokemon")

#Sort by rank
sorted_df = poke_merge1.sort_values(by=['Popularity Ranking'], ascending=True)

# Set index
#sorted_df.set_index("Pokemon", inplace=True)

# Display the data table for preview
sorted_df

,Pokemon,generation,type,hp,attack,defense,speed,Number of votes,Popularity Ranking
5,Charizard,1,Fire,78.0,84.0,78.0,100.0,1107,1
90,Gengar,1,Ghost,60.0,65.0,60.0,110.0,1056,2
56,Arcanine,1,Fire,90.0,110.0,80.0,95.0,923,3
0,Bulbasaur,1,Grass,45.0,49.0,49.0,45.0,710,4
251,Blaziken,3,Fire,80.0,120.0,70.0,80.0,613,5
...,...,...,...,...,...,...,...,...,...
707,Trumbeak,7,Normal,55.0,85.0,50.0,75.0,1,798
709,Yungoos,7,Normal,48.0,70.0,30.0,45.0,0,806
260,Silcoon,3,Bug,50.0,35.0,55.0,15.0,0,806
590,Eelektrik,5,Electric,65.0,85.0,70.0,40.0,0,806
561,Gothita,5,Psychic,45.0,30.0,50.0,45.0,0,806

### Save to CSV

In [7]:
#sorted_df.to_csv((r'C:\Users\nicry\OneDrive\Documents\UORHW\ETL_Project\sorted_df.csv'))

### Extract Pokemon card rarity and pricing 
- Source https://shop.tcgplayer.com/price-guide/pokemon/base-set

In [8]:
Pokemon_df = pd.read_html('https://shop.tcgplayer.com/price-guide/pokemon/base-set')[0]
Pokemon_df.head()

    PRODUCT     Rarity  Number Market Price Listed Median Unnamed: 5
0      Abra     Common      43        $0.60         $0.60       View
1  Alakazam  Holo Rare       1       $29.44             —       View
2  Arcanine   Uncommon      23        $2.99         $3.96       View
3  Beedrill       Rare      17        $2.25         $2.38       View
4      Bill     Common      91        $0.41         $0.40       View

### Transform Pokemon Card rarity & Pricing DataFrame

In [9]:
# Create a filtered dataframe from specific columns
tcg_cols = ["PRODUCT", "Rarity", "Market Price"]
tcg_transformed= Pokemon_df[tcg_cols].copy()
tcg_transformed = tcg_transformed.rename(columns={"PRODUCT": "Pokemon", "Rarity": "Card Rarity"})
tcg_transformed

          Pokemon Card Rarity Market Price
0            Abra      Common        $0.60
1        Alakazam   Holo Rare       $29.44
2        Arcanine    Uncommon        $2.99
3        Beedrill        Rare        $2.25
4            Bill      Common        $0.41
..            ...         ...          ...
96         Vulpix      Common        $0.56
97      Wartortle    Uncommon        $4.71
98   Water Energy      Common        $0.45
99         Weedle      Common        $0.48
100        Zapdos   Holo Rare       $30.20

[101 rows x 3 columns]

### Second merge adding the TCG data

In [10]:
# Combine the data into a single dataset
poke_merge2 = pd.merge(poke_merge1, tcg_transformed, on = "Pokemon")

# Display the data table for preview
poke_merge2

,Pokemon,generation,type,hp,attack,defense,speed,Number of votes,Popularity Ranking,Card Rarity,Market Price
0,Bulbasaur,1,Grass,45.0,49.0,49.0,45.0,710,4,Common,$5.44
1,Ivysaur,1,Grass,60.0,62.0,63.0,60.0,83,152,Uncommon,$4.70
2,Venusaur,1,Grass,80.0,82.0,83.0,80.0,127,100,Holo Rare,$120.75
3,Charmander,1,Fire,39.0,52.0,43.0,65.0,374,32,Common,$5.84
4,Charmeleon,1,Fire,58.0,64.0,58.0,80.0,70,187,Uncommon,$3.59
...,...,...,...,...,...,...,...,...,...,...,...
61,Porygon,1,Normal,65.0,60.0,70.0,40.0,97,131,Uncommon,$2.74
62,Zapdos,1,Electric,90.0,90.0,85.0,100.0,121,106,Holo Rare,$30.20
63,Dratini,1,Dragon,41.0,64.0,45.0,50.0,92,141,Uncommon,$1.50
64,Dragonair,1,Dragon,61.0,84.0,65.0,70.0,157,84,Rare,$9.91
65,Mewtwo,1,Psychic,106.0,110.0,90.0,130.0,298,43,Holo Rare,$53.49

In [11]:
#save file to csv
#poke_merge2.to_csv((r'C:\Users\nicry\OneDrive\Documents\UORHW\ETL_Project\poke_merge2.csv'))

### Create schema/tables in pgAdmin4

In [12]:
# -- Create Tables
# CREATE TABLE stats1 (
#   "Pokemon" TEXT PRIMARY KEY,
# 	"generation" INT,
# 	"type" text,
# 	"hp" INT,
# 	"attack" INT,
# 	"defense" INT,
# 	"speed" INT
# );

# CREATE TABLE popular (
#   "Pokemon" TEXT PRIMARY KEY,
# 	"NUmber of votes" INT,
# 	"Rank" INT
# );

# CREATE TABLE Popularity_Ranking_Stats (
#   "Pokemon" TEXT PRIMARY KEY,
# 	"generation" INT,
# 	"type" text,
# 	"hp" INT,
# 	"attack" INT,
# 	"defense" INT,
# 	"speed" INT,
# 	"Number of votes" INT,
# 	"Popularity Ranking" INT
# );

# CREATE TABLE Rarity_Price (
#   "Pokemon" TEXT PRIMARY KEY,
# 	"generation" INT,
# 	"type" text,
# 	"hp" INT,
# 	"attack" INT,
# 	"defense" INT,
# 	"speed" INT,
# 	"Number of votes" INT,
# 	"Popularity Ranking" INT,
# 	"Card Rarity" TEXT,
# 	"Market Price" MONEY
# );

# -- Query to check successful load
# SELECT * FROM stats1;
# SELECT * FROM popular;
# SELECT * FROM Popularity_Ranking_Stats;
# SELECT * FROM Rarity_Price;
# -- Join tables

### Create Database connection

In [13]:
# connect to database
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/Pokemon') 
connection = engine.connect()

In [21]:
engine.table_names()

['popular',
 'stats1',
 'popularity_ranking_stats',
 'rarity_price',
 'Popularity_Ranking_Stats',
 'Rarity_Price']

### Load DataFrames into database

In [ ]:
rank_df.to_sql(name='popular', con=engine, if_exists='append', index=True)

In [ ]:
pokedex_transformed.to_sql(name='stats1', con=engine, if_exists='append', index=True)

In [19]:
sorted_df.to_sql(name='Popularity_Ranking_Stats', con=engine, if_exists='append', index=True)

In [20]:
poke_merge2.to_sql(name='Rarity_Price', con=engine, if_exists='append', index=True)